[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ofxstatement = "*"
pdfplumber = "*"
ofxstatement-consorsbank = {editable = true,path = "."}

[dev-packages]
mypy = "*"
pytest = "*"
black = "*"
ruff = "*"
build = "*"
